.dbs {
    max-width: 1000px;
    margin: auto;
}

.db-create {
    max-width: 1000px;
    margin: auto;
}

.db-info {
    max-width: 1000px;
    margin: auto;
}

.table-create {
    max-width: 1000px;
    margin: auto;
} 

.method {
    margin-top: 30px;
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.full-width-input {
    width: 100%;
}

table {
    width: 100%;
}

.db-button {
    height: 200px;
    width: 160px;
    margin: 20px;
}

mat-icon {
    width: 100px !important;
    height: 100px !important;
}

.save-button {
    margin: 20px;
}

.master-input {
    margin-left: 20px;
    margin-right: 20px;
}

.table-name-input {
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.table-container{
    margin: 20px;
}

.control-panel{
    margin: 20px;
    margin-bottom: 50px;
}

.p-db-info {
    margin-left: 20px;
}