async-exit-stack==1.0.1
async-generator==1.10
asyncpg==0.24.0
entrypoints==0.3
fastapi==0.68.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.12.0
httplib2==0.14.0
httptools==0.1.2
idna==2.8
itsdangerous==1.1.0
Jinja2==3.0.3
pydantic==1.8.2
aiofiles==0.3.2
starlette==0.14.2
uvicorn==0.13.4
uvloop==0.16.0
transliterate==1.10.2
six>=1.1.0
python-multipart==0.0.5
databases==0.5.5
SQLAlchemy==1.4.35
alembic==1.7.6
psycopg2==2.9.3
