<html>
<head>
	<title>Balance Transfer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<center>
		<h1>Transfer</h1>
		<h3><a class="btn btn-link" href="/account">Back</a></h3>
	  	<form action ="/transfer" method="POST">
	  		<p>Amount:</p>
        		<input class="form-check-label" placeholder="Balance" type="text" name="balance">
			<br></br>
			<p>Recipient:</p>
				<input class="form-check-label" placeholder="Nickname" type="text" name="nickname">
			<br></br>
			<p>Notes:</p>
				<input class="form-check-label" placeholder="Notes" type="text" name="notes">
			<br></br>
			<input class="btn btn-default" type="submit" value="Submit">
		
		</center>
</body>
</html>